<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/css/styles.css" rel="stylesheet" ></link>
  <link rel="stylesheet" href="/css/nav-bar.css">
  <title>Document</title>
</head>
<body>
  <div class="site-header">
        <a href="/"><h1>Keg Party</h1></a>
        <div class="nav">
          <ul>
            <li class="home"><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/users/account">Account</a></li>
            <li><a href="/help">Explore</a></li>
          </ul>
        </div>
      </div>
      <br>
</body>
</html>