<html>
<head>
    <meta charset="UTF-8">
    <title>KegParty - 404</title>
    <link href="/css/styles.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="/css/nav-bar.css">
</head>
<body>
  <div class="site-header">
    <a href="/"> <h1>Keg Party</h1> </a>
    <div class="nav">
      <ul>
        <li class="home"><a href="/">Home</a></li>
        <li><a class="active" href="/search">Search</a></li>
        <li><a href="/users/account">Account</a></li>
      </ul>
    </div>
  </div>
    <h1 class="fourohfour">Uh Oh! - 404</h1>
    <p class="fourohfour">looks like you shouldn't be here! </p>
</body>
</html>