<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kegparty: Profile</title>
</head>
<body>
  <h1>hi <%= user.username %></h1>
  <h2>Here are your current Favorites:</h2>
  <ul>
   <% for(let i=0; i < favorites.length; i++){ %>
      <li>
        <a href="/beers/<%= favorites[i].beerID %>"><%= favorites[i].beerName %></a>
      </li>
  <% } %>
 </ul>
 <a href="/">Home</a>
</body>
</html>