<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/nav-bar.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <% include ./partials/nav %>
  <div class="wrapper">
    <div class="flex-container-column beer-title">
      <h2 class="no-margin">Beer of the Week:</h2>
    </div>
    <div class="flex-container-column">
      <h2 class="no-margin"><%= beer.name %></h2>
      <h4 align="center" class="no-margin"><%= brewery.name %></h4>
        <p style="font-size:20px;" class="flex-item"><%= beer.description %></p>
    </div>
    <h1 style="color:black;">Click <a style="color:sandyBrown;font-size:1em;" href="/beers/<%= beer.id %>">here</a> To view more info</h1>
</body>
</html>