<!DOCTYPE html>
<html>
	<head>
<!-- Load the Paper.js library -->
		
		<script type="text/javascript" src="js/home.js"></script>
		
<!-- Define inlined JavaScript -->
	
		<link rel="stylesheet" href="css/styles.css">
	</head>
<body>
	<% include ./partials/nav %>
	<h2>We can suggest a brew for you! Just tell us whats up.</h2>
	<div class="box">
		<div id="b1" class="box-item" onclick="b1()"><h2>I'm Feeling Cold</h2></div>
		<div id="b2" class="box-item" onclick="b2()"><h2>I'm Feeling Hot</h2></div>
		<div id="b3" class="box-item" onclick="b3()"><h2>Going to a Party</h2></div>
		<div id="b4" class="box-item" onclick="b4()"><h2>Going to the Beach</h2></div>
		<div id="b5" class="box-item" onclick="b5()"><h2>I'm Eating Dinner</h2></div>
		<div id="b6" class="box-item" onclick="b6()"><h2>I'm Watching Sports</h2></div>
	</div>
	<div id="output" class="flex-container-column">We'll show you what you want</div>
	<!--
	<img src="resources/login.png" alt="login" id="login">
	<img src="resources/login.png" alt="search" id="search">
	<img src="resources/login.png" alt="help" id="help"> -->
	
	
</body>

</html>