<!--<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/styles.css">
	</head>
<body>
<h1>KegPary</h1>
	<canvas id="canvas"></canvas>
	
	<form id="login" action="/action_page.php">
  		Username:<br>
  	<input type="text" name="username" ><br>
  		Password:<br>
 		 <input type="text" name="password"><br><br>
  		<input type="submit" value="Submit">
	</form>
	<form id="search" action="/action_page.php">
  		<input type="text" name="search" ><br>
  		
  		Search:<br>
  		<input type="submit" value="Submit">
	</form>
	
	<script type="text/javascript" src="js/CanvasInput.js"></script>
	<script type='text/javascript' src='src/canvasinput.js'></script>
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"> </script>
	<script type="text/javascript" src="js/paper-full.js"></script>
	<script type="text/javascript" src="js/paper-animate.min.js"></script>
	<script type="text/javascript" src="js/home.js"></script>

	<script type="text/paperscript" src="js/paperscript.js" canvas="canvas"></script>
</body>

</html>-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>CanvasInput test page</title>

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
	</head>

	<body>
		<canvas width='500' height='500' id='canvas'>&nbsp;</canvas>
		<script type='text/javascript' src='src/canvasinput.js'></script>
		<script type='text/javascript'>
		new CanvasText( canvas, {
			x: 20,
			y: 20,
			width: 300,
			placeholder: 'Enter your username...'
		} );
	
		new CanvasPassword( canvas, {
			x: 20,
			y: 55,
			width: 300,
			placeholder: 'Enter your password...'
		} );
	
		new CanvasSubmit( canvas, {
			x: 20,
			y: 95,
			width: 300,
			placeholder: 'Submit',
			onSubmit: ( function() {
				return alert( 'Submit button pressed' );
			} )
		} );
		</script>
	</body>
</html>
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help