<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/nav-bar.css">
	</head>
<body>
  <div class="site-header">
    <a href="/"> <h1>Keg Party</h1> </a>
    <div class="nav">
      <ul>
        <li class="home"><a class="active" href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/users/account">Account</a></li>
      </ul>
    </div>
  </div>
  <br>
  <div class="flex-container-column login">
    <h2>Login</h2>
    <h2><%= err %></h2>
    <div class="flex-item">
      <form action="/login" method="post" name="login-form">
        <div class="flex-item">
          <input type="text" name="username" placeholder="Username"/>
        </div>
        <div class="flex-item">
          <input type="password" name="password" placeholder="Password"/>
        </div>
        <div class="flex-item">
          <input class="btn" value="Login" type="submit"/>
        </div>
        <a class="btn" href="/signup" style="float:right;font-size:12px;">Sign Up</a>
      </form>
    </div>
  </div>

</html>
