<!doctype html>
<head>
    <link
</head>
<body>
    <form method="get" action="/search">
        <input type="text" name="searchText" class="searchText">
        <input type="submit" class="search-submit">
   </form>
    
</body>
