<!doctype html>
<head>
    <link href="/css/styles.css" rel="stylesheet" ></link>
    <title>KegParty</title>
</head>
<body>
    <h1>Keg Party</h1>
    <div align="center">
        <form method="get" action="/search" class="form-wrapper cf" >
            <input type="text" name="searchText">
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
