<html>
<head>
    <meta charset="UTF-8">
    <title>KegParty-Login</title>
</head>
<body>
    <div class="center">
        <h1>login</h1>
        <h2><%= err %></h2>
        <form action="/users/login" method="post" name="login-form">
            <input type="text" name="username"/>
            <input type="password" name="password"/>
            <input type="submit"/>
        </form>
    </div>
</body>
</html>