<html>
<head>
    <meta charset="UTF-8">
    <title>KegParty-Login</title>
</head>
<body>
    <div class="center">
        <form action="post" name="login-form">
            <input type="text" name="login-username"></input>
            <input type="text" name="login-password"></input>
            <input type="submit" name="login-submit"></input>
        </form>
    </div>
</body>
</html>