<html>
    <head>
        <meta charset="UTF-8">
        <link href="/css/styles.css" rel="stylesheet" ></link>
        <title>KegParty-Login</title>
    </head>
    <body>
        <a href="/"> <h1>Keg Party</h1> </a>
        <br>
        <h1>Login</h1>
        <h2><%= err %></h2>
        <div class="fake-nav-vert">

            <form action="/login" method="post" name="login-form">
                <div class="fake-nav">
                    <input type="text" name="username"/>
                </div>
                <div class="fake-nav">
                    <input type="password" name="password"/>
                </div>
                <div class="fake-nav">
                    <input type="submit"/>
                </div>
            </form>
        </div>
    </body>
</html>
