<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
	</head>
<body>
  <% include ./partials/nav %>
  </div>
  <br>
  <h3 style="color:black;">Please <a style="color:sandyBrown;font-size:1em;" href="/">sign in</a> or <a style="color:sandyBrown;font-size:1em;" href="/signup">sign up</a> to view your account</h3>
</body>