<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
	</head>
<body>
  <div class="site-header">
    <a href="/"> <h1>Keg Party</h1> </a>
    <div class="nav">
      <ul>
        <li class="home"><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a class="active" href="/users/account">Account</a></li>
      </ul>
    </div>
  </div>
  <br>
  <h3 style="color:black;">Please <a style="color:sandyBrown;font-size:1em;" href="/">sign in</a> or <a style="color:sandyBrown;font-size:1em;" href="/signup">sign up</a> to view your account</h3>
</body>