<!doctype html>
<head>
    <link
</head>
<body>
   <% beerList.forEach((item) => { %>
    <a href="/beers/<%= item.id %>"><%= item.name %></a>
    <p><%= item.description %></p>
   <% }) %>
    
</body>
