<!doctype html>
<head>
    <title>KegParty - Search Results</title>
    <link href="/css/styles.css" rel="stylesheet" ></link>
    <link href="/css/font-awesome.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="css/nav-bar.css">
</head>
<body>
 <% include ./partials/nav %>
    <div class="flex-container">
      <div class="flex-item search-container"> 
        <form method="get" action="/search" >
          <input type="text" name="searchText" id="searchText" class="search-textbar" placeholder="Search for your favorite beer...">
       </div>
          <button type="submit" class="flex-item search-button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
    </div>
  </body>