<html>
  <head>
    <meta charset="UTF-8">
    <link href="/css/styles.css" rel="stylesheet" ></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kegparty: Signup</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <h2><%= err %></h2>
      <form action="/users/signup", method="post", name="signup-form">
        <div class="fake-nav-vert">
          <div class="fake-nav">
            <input name="username" type="text" required="true"/>
          </div>
          <div class="fake-nav">
            <input name="password" type="password" require="true"/>
          </div>
          <div class="fake-nav">
            <input type="submit"/>
          </div>
        </div>
      </form>
  </body>
</html>