<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kegparty: Signup</title>
</head>
<body>
  <h1>Sign Up for Kegparty</h1>
  <h2><%= err %></h2>
    <form action="/users/signup", method="post", name="signup-form">
      <input name="username" type="text" required="true"/>
      <input name="password" type="password" require="true"/>
      <input type="submit"/>
    </form>
</body>
</html>