html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    text-align: center;
    color: sandybrown;
}

.center {
    margin: 0 auto;
    width: 50%;
}

.fourohfour {
    color: sandybrown;
    text-align: center;
}

.fourohfour p {
    color: black;
}

.fake-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 5px;
}

.login-nav {
    padding: 10px;
}

.fake-nav-vert {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    
}